body{
    background-color: #ccc;
    width: 100%;
}
#chart{
    background-color: #ccc;
    width: 1000px;
    height: 500px;
    margin: 50px auto;
    border: solid 1px #000;
}
svg{
    background-color: #fff;
}

.dot{
    stroke: black;
    stroke-width: 1px;
    stroke-dasharray: "3,3";
}

.charles-dot{
    fill: #FA7D97;
    opacity: 0.5;
}

.non-charles-dot{
    fill: #64D0FA;
    opacity: 0.2;
}